body
{
    padding-top: 50px;
    padding-bottom: 20px;
}

.chart-container
{
    height: 200px;
    padding: 5px;
    margin: 15px auto 15px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.axisLabel
{
    position: absolute;
    text-align: center;
    font-size: 12px;
}

.xaxisLabel
{
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.yaxisLabel
{
    top: 50%;
    left: 2px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.ie7 .yaxisLabel, .ie8 .yaxisLabel
{
    top: 40%;
    font-size: 36px;
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.0, M12=0.33, M21=-0.33, M22=0.0,sizingMethod='auto expand');
}
