<div class="container-fluid">
    <div class="row error-report" ng-if="registry.updateError">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{registry.updateError}} <a href="javascript:void(0)" ng-click="registry.retry()">retry</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4" ng-if="chart.isVisible()" ng-repeat="chart in registry.getCharts()">
            <chart chart="chart"></chart>
        </div>
    </div>
</div>



